# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
public/flite
public/lance
# Node
node_modules
*.log
.angular

# IDEs and editors
# Visual Studio Code
.vscode
.DS_Store
Thumbs.db
